* {
  font-family: Menlo,Consolas,'Courier New',Courier,monospace, Arial,"Yu Gothic","Hiragino Kaku Gothic ProN","Yu Mincho Light","Hiragino Mincho ProN","Meiryo UI";
}

.inner {
  width: 100%;
}

.inner sub {
  font-size: 0.7em;
}

.inner div.content {
  margin-top: 28px;
  margin-bottom: 32px;
}

.inner div.content .red {
  color: #f00;
}

.inner div.content .blue {
  color: #00f;
}

.inner div.content .gray {
  color: #777;
}

.inner div.content .tac {
  text-align: center;
}

.inner div.content .ni {
  font-family: Georgia,"Cambria Math",Cambria,Cochin,Times,'Times New Roman',serif, Arial,"Yu Gothic","Hiragino Kaku Gothic ProN","Yu Mincho Light","Hiragino Mincho ProN","Meiryo UI";
  font-style: normal;
}

.inner div.content h2 {
  margin-bottom: 12px;
}

.inner div.content input {
  margin-top: 0;
  margin-bottom: 12px;
}

.inner div.content input[type="number"] {
  width: 4em;
}

.inner div.content table {
  border-collapse: collapse;
  margin-bottom: 12px;
}

.inner div.content table tr:first-child td {
  background-color: #e5e5e5;
  border: 1px solid #000;
  font-family: Georgia,"Cambria Math",Cambria,Cochin,Times,'Times New Roman',serif, Arial,"Yu Gothic","Hiragino Kaku Gothic ProN","Yu Mincho Light","Hiragino Mincho ProN","Meiryo UI";
  font-size: 1em;
  font-style: italic;
  text-align: center;
}

.inner div.content table tr:first-child td sub {
  font-family: Georgia,"Cambria Math",Cambria,Cochin,Times,'Times New Roman',serif, Arial,"Yu Gothic","Hiragino Kaku Gothic ProN","Yu Mincho Light","Hiragino Mincho ProN","Meiryo UI";
}

.inner div.content table tr:first-child td.empty {
  background-color: #fff;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #000;
  box-sizing: border-box;
  width: 6px;
  padding: 0;
}

.inner div.content table td {
  border: 1px solid #000;
  border-collapse: collapse;
  font-size: 0.9em;
  padding: 2px 8px 2px 8px;
  text-align: right;
}

.inner div.content table td:first-child {
  background-color: #f5f5f5;
}

.inner div.content table td:nth-child(6), .inner div.content table td:nth-child(7), .inner div.content table td:nth-child(8), .inner div.content table td:nth-child(9), .inner div.content table td:nth-child(10), .inner div.content table td:nth-child(11), .inner div.content table td:nth-child(12) {
  border-left: none;
  border-right: none;
}

.inner div.content table td:last-child {
  border-right: 1px solid #000;
}

.inner div.content p {
  margin-top: 2px;
  margin-bottom: 4px;
}

.transparent {
  opacity: 0 !important;
}

.none {
  display: none !important;
}
