* {
  margin: 0;
  border: none;
  padding: 0;
  font-family: Arial,'Yu Gothic','Hiragino Kaku Gothic ProN','Yu Mincho Light','Hiragino Mincho ProN','Meiryo UI',sans-serif;
  outline: none;
}

.inner {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 9.6vw;
}

#beforeGaming .select {
  display: flex;
  justify-content: space-around;
  margin: 12px 0 0;
}

#beforeGaming .select .option {
  background-color: #ddd;
  border-radius: 4px;
  color: #282523;
  padding: 5.4vw 3.6vw;
}

#beforeGaming .select .option.chosen {
  background-color: #00aaff;
  color: #fff;
}

#beforeGaming .select .option i {
  font-size: 12vw;
}

.input-submit {
  -webkit-appearance: none;
  background-color: #c52929;
  background-image: none;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 10vw;
  margin: 12px auto;
  padding: 4px 12px;
  position: fixed;
  letter-spacing: 0.04em;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  text-decoration: none;
  width: 40%;
}

.input-submit:hover, .input-submit:focus {
  outline: none;
}

.input-submit::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.courses {
  margin: 12px 0;
}

.courses .course {
  border-bottom: 1px dashed #fff;
  border-top: 1px dashed #fff;
  box-sizing: border-box;
  width: 100%;
  background-color: #bbb;
  position: relative;
}

.courses .course i {
  font-size: 12vw;
  margin: 18px 8px;
}

.courses .course .change {
  padding: 6px 8px;
  background-color: #fb3;
  color: #070;
  display: inline-block;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 6.4vw;
}

.courses .course .go {
  border-radius: 2px;
  padding: 4px 12px;
  background-color: #c52929;
  color: #fff;
  display: inline-block;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 7.2vw;
  margin: 2px 12px;
}

.courses .course.out::after {
  position: absolute;
  right: 0;
  height: 100%;
  content: '';
  background-color: #000;
  animation-name: bikeOut;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes bikeOut {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.courses .course.out.before::before {
  width: 0;
  height: 0;
  content: '';
}

.courses #course0 {
  border-top: none;
}

.courses #course2 {
  border-bottom: none;
}

#result {
  font-size: 18vw;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

#again {
  background-color: #c52929;
  color: #fff;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
}

@media (orientation: landscape) {
  h1 {
    font-size: 25.6px;
  }
  #beforeGaming .select .option {
    padding: 16px 12px;
  }
  #beforeGaming .select .option i {
    font-size: 5vw;
  }
  #beforeGaming .input-submit {
    font-size: 5vw;
    padding: 8px;
  }
  .courses .course i {
    font-size: 5.4vw;
  }
  .courses .course .change {
    padding: 6px 8px;
    font-size: 3.2vw;
  }
  .courses .course .go {
    padding: 8px 12px;
    font-size: 3.6vw;
    margin: 2px 12px;
  }
  #result {
    font-size: 12vw;
  }
  #again {
    font-size: 5.4vw;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
  #beforeGaming #start_button:hover {
    cursor: pointer;
    background-color: #b51919;
  }
  #beforeGaming .select .option:hover {
    cursor: pointer;
    background-color: #ccc;
  }
  #beforeGaming .select .option.chosen:hover {
    background-color: #09e;
  }
  .courses .course#course0 {
    border-top: none;
  }
  .courses .course#course2 {
    border-bottom: none;
  }
  .courses .course .change:hover,
  .courses .course .go:hover {
    cursor: pointer;
    opacity: 0.84;
  }
  #again:hover {
    cursor: pointer;
    background-color: #b51919;
  }
}

.transparent {
  opacity: 0 !important;
}

.none {
  display: none !important;
}
