*{
	margin:0;
	border:none;
	padding:0;
	font-family:'Consolas','CourierNew','Courier',monospace;
}
.inner{
	width:100%;
	max-width:1366px;
	margin:0 auto;
	overflow-x:hidden;
}
.input-text{
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	background-color:transparent;
	background-image:none;
	border:1px solid #a1a499;
	border-radius: 2px;
	color:#282523;
	font-family:inherit;
	font-size: 16px;
	overflow-x: auto;
	padding: 2px 4px 3px;
	margin: 4px 0 2px 8px;
	width: 50vw;
	&:focus{
		border:1px solid #a1a499;
		box-shadow:none;
		outline:none;
	}
}
.input-submit{
	appearance: none;
	-webkit-appearance:none;
	background-color:#eee;
	background-image:none;
	border:1px solid #a1a499;
	border-radius: 4px;
	color:#282523;
	cursor:pointer;
	display:inline-block;
	font-size: 16px;
	margin: 4px 0 2px;
	padding: 2px 4px 3px;
	text-decoration:none;
	&:hover, &:focus{
		background-color: #dfdfdf;
		cursor: pointer;
		outline:none;
	}
	&:active{
		background-color: #ccc;
	}
	&::-moz-foucus-inner{
		border:none;
		padding:0;
	}
}

.inner{
	div.section{
		margin: 12px 8px 24px;
		padding-left: 4px;
		h1{
			display: inline-block;
			font-family: "Times New Roman";
			font-style: italic;
			margin-right: 12px;
			margin-left: 0;
		}
		h3{
			display: inline-block;
			font-weight: normal;
			font-family: "Times New Roman";
		}
		input{
			margin-left: 0;
		}
		div.codeWrapper{
			margin:12px 0 24px 0;
			code#returnedNum{
				background-color: #e5e5e5;
				box-sizing: border-box;
				color:#282523;
				display: block;
				font-size: 1.2em;
				margin: 8px 8px 18px 0;
				overflow-x: scroll;
				padding: 2px 5px;
				width: 84%;
			}
		}
		p#code_copy{
			font-size: 1em;
			overflow-x: auto;
			padding: 2px 5px;
		}
		p#returnedTxt{
			font-size: 1.2em;
			margin: 18px 12px 24px 0;
			overflow-x: auto;
		}
		#selection{
			margin: 12px 0 8px;
			.select{
				margin: 0;
				padding: 2px 4px 3px;
				&.select_back{
					margin-left: 16px;
				}
				&.unavailable{
					background-color: #fff;
					color:#a1a499;
					cursor: default;
				}
			}
		}
	}
}

// #choose{
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: space-around;
// 	margin: 20px auto 8px;
// 	width:96%;
// 	#chooseTitle{
// 		width: 100%;
// 		font-size: 6.4vw;
// 		margin: 0.4em 0 0.2em;
// 		text-align: center;
// 	}
// 	div{
// 		border:1px solid #a1a499;
// 		border-radius: 4px;
// 		margin: 1%;
// 		padding: 4px 8px;
// 		text-align: center;
// 		width:40%;
// 	}
// }

.transparent{
	opacity:0 !important;
}
.none{
	display:none !important;
}

@media(min-width:768px){
	.input-text{
		font-size: 1em;
		width:18em;
	}
	.input-submit{
		font-size: 1em;
	}
	.inner{
		div.section{
			h1{
				font-size: 2em;
				margin: 4px 12px 6px;
			}
			div.codeWrapper{
				margin-top: 12px;
				code#returnedNum{
					font-size: 20px;
					overflow-x: scroll;
					width: 40vw;
				}
			}
			p#returnedTxt{
				font-size: 20px;
			}
			#selection{
				margin: 12px 0 8px;
				.select{
					margin:0 12px 0 0;
					padding: 3px 8px 4px;
					&.select_back{
						margin-left: 32px;
					}
				}
			}
		}
	}
}
@media(orientation:landscape){
	.inner{
		div.section{
			margin: 20px 12px 48px;
			padding-left: 18px;
			h1{
				margin-right: 18px;
			}
			
		}
	}
}
// #choose{
// 	margin: 20px 4px 0;
// 	width:54%;
// 	#chooseTitle{
// 		font-size: 20px;
// 	}
// 	div{
// 		&:hover{
// 			background-color: #f1f1f1;
// 			cursor: pointer;
// 		}
// 	}
// }