* {
  margin: 0;
  border: none;
  padding: 0;
  font-family: 'Consolas','CourierNew','Courier',monospace;
}

.inner {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  overflow-x: hidden;
}

h1 {
  margin: 0.2em;
  font-size: 1.8em;
  text-align: center;
}

.input-text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #a1a499;
  border-radius: 2px;
  color: #282523;
  font-family: inherit;
  font-size: 5.4vw;
  padding: 2px 4px 3px;
  margin: 4px 0 2px 8px;
  width: 60vw;
}

.input-text:focus {
  border: 1px solid #a1a499;
  box-shadow: none;
  outline: none;
}

.input-submit {
  appearance: none;
  -webkit-appearance: none;
  background-color: #eee;
  background-image: none;
  border: 1px solid #a1a499;
  border-radius: 4px;
  color: #282523;
  cursor: pointer;
  display: inline-block;
  font-size: 5.4vw;
  margin: 4px 0 2px;
  padding: 2px 4px 3px;
  text-decoration: none;
}

.input-submit:hover, .input-submit:focus {
  background-color: #dfdfdf;
  cursor: pointer;
  outline: none;
}

.input-submit:active {
  background-color: #ccc;
}

.input-submit::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.inner div.section {
  margin: 20px 12px 48px;
  padding-left: 18px;
}

.inner div.section h1 {
  display: inline-block;
  font-family: "Times New Roman";
  font-style: italic;
  margin-right: 18px;
  margin-left: 0;
}

.inner div.section h3 {
  display: inline-block;
  font-weight: normal;
  font-family: "Times New Roman";
}

.inner div.section input {
  margin-left: 0;
}

.inner div.section div.codeWrapper {
  margin: 12px 0 24px 0;
}

.inner div.section div.codeWrapper code#returnedNum {
  background-color: #e5e5e5;
  box-sizing: border-box;
  color: #282523;
  display: block;
  font-size: 1.44em;
  margin: 8px 8px 18px 0;
  overflow-x: scroll;
  padding: 2px 5px;
  width: 84%;
}

.inner div.section p#code_copy {
  font-size: 1em;
  padding: 2px 5px;
}

.inner div.section p#returnedTxt {
  font-size: 1.44em;
  margin: 18px 12px 24px 0;
}

.inner div.section #selection {
  margin: 12px 0 8px;
}

.inner div.section #selection .select {
  margin: 0 12px 0 0;
  padding: 3px 8px 4px;
}

.inner div.section #selection .select.select_back {
  margin-left: 32px;
}

.inner div.section #selection .select.unavailable {
  background-color: #fff;
  color: #a1a499;
  cursor: default;
}

.transparent {
  opacity: 0 !important;
}

.none {
  display: none !important;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2em;
    margin: 4px 12px 6px;
    text-align: left;
  }
  .input-text {
    font-size: 1em;
    width: 18em;
  }
  .input-submit {
    font-size: 1em;
  }
  #codeWrapper {
    margin-top: 20px;
  }
  #codeWrapper #returnedNum {
    font-size: 24px;
    width: 40vw;
  }
}
