*{
	margin:0;
	padding: 0;
	border:0;
}
body{
	font-family:'Courier','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','Yu Gothic','Meiryo','ＭＳ Ｐゴシック','MS PGothic';
	letter-spacing: -3px;
}

.inner{
	width:100%;
	max-width:1366px;
	margin:0 auto;
	overflow-x: hidden;
}
.wall{
	text-align: center;
	text-indent: -3px;
	background-color: #353535;
	padding:3px;
	font-size:1.8em;
	width: 100%;
	margin: 0 auto;
	#q_num{
		color:#2c84cc;
		max-width: 95%;
		margin: 0 auto;
		font-size: 4.5vw;
		letter-spacing: -5px;
		text-indent: -5px;
	}
	#question{
		color:white;
		font-size: 4.7vw;
		max-width: 95%;
		margin: 0 auto;
		font-family:'Courier','serif',sans-serif;
		letter-spacing:-4.5px;
		text-indent: -4.5px;
	}
}
@media(max-width:767px){
	.wall #question{
		font-size: 5vw;
	}
}
.answering{
	display:flex;
	justify-content: space-around;
	margin:32px 20%;
	align-items:flex-end;
	.button{
		background-color:#c52929;
		color:#fff;
		height:2em;
	}
}
.text{
	height:77px;
	border:2px solid #282523;
	border-radius:8px;
	padding:10px;
	font-size:3.2em;
	text-align: left;
	letter-spacing: -2px;
	font-weight: bold;
}
.strong{
	font-size:1.5em;
	margin:0 3px;
}
.mode{
	display:flex;
	justify-content: center;
	padding:2em 0;
	.selects{
		display:flex;
		justify-content: space-around;
		select{
			border:1px solid #a1a499;
			font-size:2em;
			margin:0 0.2em;
			padding:0 1.2em 0 0.4em;
			option{
				background-color: #fff;
				color:#282523;
			}
		}
		#unit{
			font-weight: bold;
		}
	}
}

.button{
	border:1px solid #a1a499;
	padding:0 0.5em;
	font-size:2em;
	height:48px;
	line-height:48px;
	cursor:pointer;
	border-radius:5px;
	font-family:serif,sans-serif;
	letter-spacing: normal;
}
.submit-test{
	-webkit-appearance: none;
	background-color: #c52929;
	background-image: none;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 2em;
	margin: 0 0 0 2em;
	padding: 0 0.5em;
	text-decoration: none;
	position: relative;
	&:hover, &:focus {
		outline: none;
	}
	&::-moz-foucus-inner {
		border: none;
		padding: 0;
	}
}

.missed_memo{
	border:1.5px solid #a1a499;
	border-radius:8px;
	margin:16px auto;
	padding:8px 12px;
	width:84%;
	columns: #282523;
	h1{
		text-align: center;
		text-indent: -3px;
	}
	#missed_list{
		font-family:'Courier','serif',sans-serif;
		font-size:1.6em;
		margin:0;
		margin-left:16px;
		letter-spacing: 0.1px;
		li{
			&:nth-child(2n-1){
				background-color: #f1f1f1;
			}
			&:nth-child(2n){
				background-color: #e3e3e3;
			}
		}
	}
}
.missed_word{
	color:#c52929;
	font-weight:bold;
	font-size:1.1em;
	cursor:pointer;
}
.miss_perfect{
	color:#c52929;
	font-weight: bold;
	font-size:3.6em;
	text-align: center;
	letter-spacing: 8px;
	text-indent: 8px;
	font-family:'Courier',sans-serif;
}

.text-test{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border:2px solid #282523;
	border-radius:8px;
	color: #282523;
	font-family:'Courier',sans-serif;
	font-size:3.2em;
	padding:10px;
	width:100%;
	height:1.8em;
	text-align: left;
	box-sizing: border-box;
	&:focus {
		border:2px solid #282523;
		box-shadow: none;
		outline: none;
	}
}

.space{
	font-size:0.7em;
	/* margin:0 0.1em; */
}

@media(max-width:767px){
	.mode{
		.selects select{
			font-size:5.5vw;
			height:48px;
			line-height:48px;
		}
		.button{
			font-size:5.5vw;
			height:48px;
			line-height:48px;
		}
	}
	.answering{
		margin:0;
		margin-top:20px;
		display:block;
		text-align: center;
		text-indent: -3px;
		.button{
			margin:20px auto;
			width:54%;
			height:1.6em;
			line-height:1.6em;
		}
	}
	.text{
		width:84%;
		font-size: 5vw;
		height:1.8em;
		display:block;
		margin:0 auto;
		padding:2px 5px;
	}
}

.select-test{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border:1px solid #a1a499;
	border-radius: 0;
	color: #282523;
	cursor: pointer;
	font-family:'Courier','Meiryo','メイリオ',sans-serif;
	font-size:2em;
	padding:0 1.2em 0 0.4em;
	margin:0 0.2em;
	height:48px;
	line-height:48px;
	&::-ms-expand {
		display: none;
	}
	&:focus {
		border:1px solid #a1a499;
		box-shadow: none;
		outline: none;
	}
}

.select_wraper{
	position:relative;
	&::after{
		border-right:3px solid #c52929;
		border-bottom:3px solid #c52929;
		width:16px; 
		height:16px;
		position: absolute;
		content:'';
		box-sizing:border-box;
		right:10.0px;
		top:7.03px;
		transform: rotate(45deg);
		transform-origin: left top;
		z-index: -10;
	}
}

@media(max-width:767px){
	.mode .selects select{
		padding-right:24px;
	}
	.select_wraper::after{
		border-right:2px solid #c52929;
		border-bottom:2px solid #c52929;
		width:10px;
		height:10px;
		top:13.4px;
		right:calc(1.4px + 1px + 12px - 7.07px);
		z-index: -10;
	}
}

@media(max-width:767px){
	body{
		letter-spacing:normal;
	}
	.wall{
		#q_num{
			letter-spacing: -0.1em;
			text-indent: -0.1em;
		}
		#question{
			letter-spacing: -1px;
			text-indent: -1px;
		}
	}
	.text{
		letter-spacing:normal;
	}
	.missed_memo{
		padding:4px;
		h1{
			font-size:1.2em;
		}
		#missed_list{
			font-size: 1em;
			letter-spacing: -1px;
		}
	}
	.miss_perfect{
		font-size:2.4em;
		letter-spacing:4px;
		text-indent: 4px;
	}
}

.search{
	width:84%;
	margin:0 auto;
	position: fixed;
	background-color: #fff;
	border:2px solid #2c84cc;
	border-radius:4px;
	padding:8px;
	top:25%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	opacity:0.96;
	z-index: 200;
	.close{
		position:absolute;
		top:0;
		right:0;
		background-color: #c52929;
		border-radius:0 2px 0 0;
		width:48px;
		height:48px;
		line-height:48px;
		color:#fff;
		font-size:64px;
		text-align: center;
		cursor:pointer;
		z-index: 202;
	}
	h1{
		text-align: center;
		font-size:2.4em;
		margin:8px 0 18px;
		font-weight:normal;
	}
	#search_word{
		color:#c52929;
		font-weight: bold;
		letter-spacing: -1px;
		text-indent: -1px;
	}
	.search_pages{
		display:flex;
		flex-wrap:wrap;
		justify-content: space-around;
		.search_page{
			text-align: center;
			width:200px;
			padding:0;
			padding-bottom:18px;
			cursor:pointer;
			img{
				width:84%;
				margin-bottom:8px;
			}
			p{
				font-size:24px;
				font-weight:bold;
				letter-spacing: normal;
			}
		}
	}
}
@media(max-width:767px){
	.search{
		.close{
			width:24px;
			height:24px;
			line-height:24px;
			text-align: center;
			font-size:32px;
		}
		h1{
			text-align: center;
			font-size:22px;
			margin:12px 0;
			font-weight:normal;
		}
		.search_pages{
			.search_page{
				width:120px;
				img{
					width:64%;
					margin-bottom:2px;
				}
				p{
					font-size:12px;
				}
			}
		}
	}
}
@media(max-width:428px){
	.search .search_pages::after{
		content:'';
		width:120px;
		height:1px;
	}
}

.dark{
	background-color: #000;
	position:fixed;
	content:'';
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.6;
	z-index:199;
}


.transparent{
	opacity:0;
	&:hover{
		cursor:default;
	}
}
.none{
	display:none;
}