* {
  margin: 0;
  border: none;
  padding: 0;
  font-family: Arial,'Yu Gothic','Hiragino Kaku Gothic ProN','Yu Mincho Light','Hiragino Mincho ProN','Meiryo UI',sans-serif;
}

.inner {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  overflow-x: hidden;
}

.transparent {
  opacity: 0 !important;
}

.none {
  display: none !important;
}
