*{
	margin:0;
	border:none;
	padding:0;
	// font-family:'Consolas','Courier','Lucida Console', sans-serif;
	font-family: Menlo, Consolas, 'Courier New', Courier, monospace;
}
.inner{
	width:100%;
	max-width:1366px;
	margin:0 auto;
	overflow-x:hidden;
}
.header{
	background-color: orange;
	padding: 8px;
	text-align: center;
	h1{
		font-family: 'Trebuchet MS', sans-serif;
		font-size: 14.4vw;
		// font-style: italic;
	}
}
.projects{
	background-color: #afd;
	box-sizing: border-box;
	margin: 18px auto;
	padding:2px 2px 12px;
	width:92%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	&.featured{
		background-color: #fbe;
	}
	&.archived{
		background-color: #ddd;
	}
	h2{
		text-align: center;
		margin: 8px auto 0;
		width:100%;
	}
	.project{
		box-sizing: border-box;
		margin:4px 0;
		padding: 4px;
		width:48%;
		text-decoration: none;
		img{
			max-width: 84px;
			max-height: 84px;
			margin: 0 auto;
			display: block;
			color:#282523;
		}
		p{
			color: #2c84cc;
			font-weight: bold;
			font-size: 20px;
			text-align: center;
		}
		&.empty{
			margin: 0;
			padding: 0;
		}
	}
}

@media(orientation:landscape){
	.header{
		padding: 4px;
		h1{
			font-size: 32px;
		}
	}
	.projects{
		.project{
			width: calc(100% / 3);
		}
	}
}
@media(min-width:768px){
	.header{
		h1{
			font-size: 40px;
		}
	}
	.projects{
		.project{
			width:20%;
			border-radius: 4px;
			&:hover{
				background-color: rgba($color: #000, $alpha: 0.1);
			}
			&.empty:hover{
				cursor: default;
				background: none;
			}
		}
	}
}

.transparent{
	opacity:0 !important;
}
.none{
	display:none !important;
}