* {
  margin: 0;
  border: none;
  padding: 0;
  font-family: Arial,'Yu Gothic','Hiragino Kaku Gothic ProN','Yu Mincho Light','Hiragino Mincho ProN','Meiryo UI',sans-serif;
}

.inner {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  overflow-x: hidden;
}

.inner #buttons div {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 12px auto 24px;
  width: 92%;
}

.inner #buttons div h2 {
  text-align: center;
  width: 100%;
  margin: 18px 0;
}

.inner #buttons div div {
  background-color: #fa0;
  border: 2px solid #c52929;
  border-radius: 8px;
  display: block;
  font-size: 4vw;
  margin: 4px auto 8px;
  padding: 12px 2px;
  text-align: center;
}

.inner #buttons div div.comB {
  width: 28%;
}

.inner #buttons div div.mathB {
  width: 14.3%;
}

.inner #buttons div div.empty {
  background: none;
  border: 2px solid transparent;
  margin: 0 auto;
  padding: 0;
}

.inner #display {
  width: 96%;
  margin: 12px auto;
}

.inner #display h2 {
  text-align: center;
  margin-bottom: 12px;
}

.inner #display p {
  color: #777;
}

.inner #display table {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.inner #display table tr {
  border: 1px solid #ddd;
}

.inner #display table tr td {
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 8px;
}

.inner #display table tr td.imgin {
  padding: 2px;
}

.inner #display table tr td#word {
  font-size: 120%;
  font-weight: bold;
}

.inner #display table tr td#example2 {
  width: 50%;
}

.inner #display table tr td img {
  vertical-align: bottom;
  width: 100%;
}

.inner #display table tr td p {
  color: #000;
}

.inner #touchscreen {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

@media (orientation: landscape) {
  .inner #buttons div div {
    font-size: 24px;
    padding: 12px;
  }
  .inner #buttons div div.comB {
    width: 18%;
  }
  .inner #buttons div div.mathB {
    width: 12.6%;
  }
}

@media (min-width: 768px) {
  .inner #buttons div div {
    cursor: pointer;
  }
  .inner #buttons div div:hover {
    background-color: #fc3;
    border-color: #e74b4b;
  }
}

.transparent {
  opacity: 0 !important;
}

.none {
  display: none !important;
}
